/* Infaltables */

*{margin: 0; padding: 0;}

    html { 
        font-size: 62,5% ;}

    body { 
        width: 100%;
        background-color: $colorBody ;}

    hr {
        margin: 5px;}

/* Animaciones  */

.animacion {
    transition: all 2s;}

.animacion:hover {
    width: 400px;
    height: 320px;}

/* Titulo */

.header_logo{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
}
.header_imagen_logo{
    height: 150px;
    margin: 10px;
}

/* Letras */

.letra_Index { 
    font-size: 250%;
    font-family: $letra;
    letter-spacing: 2px;
    text-align: center;}

.texto {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-family: $letra;
    color: $colorTexto }

.texto ul { padding-left: 0;}

.letra_Subtitulo {
    font-family: $letra;
    font-weight:lighter;
    color: $colorLetra;
    text-align: center; }


/* Navegacion*/

.ul {
    list-style: none;
    font-size: 0;}

.li {  
    width: 100%;
    text-align: center;
    width: 20%;
    font-size: 17px;
    background-color: $colorNavegacion;} 

.barra_Navegacion {
    width: 100%;
    font-size: 150%;
    text-decoration: none;
    font-family: $letra;
    color: white;}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-content: center;
    align-items: stretch; 
    background-color: $colorBody; }

.navbar .container-fluid {
    background-color: $colorBody; }

/* Formulario*/

.form {
    border: solid $colorFormulario;
    border-radius: 15px;}

.letra_Form {
    font-size: 150%;
    font-family: $letra;
    color: $colorLetra; }

button{
    background-color: white;}

/* Footer*/

footer {
    height: 50%;
    margin-top: 5px;
    background-color: rgb(146, 145, 168);
    color: white;}

.navegacionFooter{
    width: 100%;
        display:flex;
    justify-content: space-around;
    flex-direction: row; }

.imagenes_Redes {
    align-items: center;
    justify-items: center;
    height: 30px;
    width: 30px;
    grid-column-gap: 15px;}

.navfooter {
    text-decoration: none;
    text-align: center;
    list-style: none;}

/* Varios */

.bordes-hr {
    border-bottom: solid rgb(190, 190, 190) 1px;
    margin-bottom: 10px;}

.bordes-br {
    margin-bottom: 10px;
}

@each $tamanioLetra in $lista {
    .tamanio-#{$tamanioLetra} {
        font-size: $tamanioLetra;
    } }