@media screen and (max-width: 768px) {

    .flex-productos {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly; }

    .flexSn {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-radius: 15px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: $colorBodyDos; }

    .gridTaller {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-items: center;}

    .navegacionFooter{
        width: 100%;
        display:flex;
        justify-content: space-around;
        flex-direction: row; }  }

@media screen and (max-width: 480px) {

    .flex-productos {
        display: flex;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly; }

    .flexSn {
        display: flex;
        height: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        border-radius: 15px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: $colorBodyDos; }


.gridTaller {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;} 

.navegacionFooter{
    width: 100%;
    display:flex; 
    justify-content: space-around;
    flex-direction: column; } }

