.flexSn {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px; 
    background-color: $colorBodyDos; }

.divSn {
    width: 60%; }

.imagen_Sn {
    border-radius: 20px;
    box-shadow: 5px 5px 5px darkgray;}

@mixin imagenes ($ancho, $alto) {
    width: $ancho;
    height: $alto; }

.nuevoImg {
    @include imagenes (300px, 220px) }